.item{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 3rem;
    margin: 10px auto;
    /* border-bottom: 1px solid #ccc; */
    /* margin-bottom: 10px; */
    background-color: #B23870;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
}

.msg{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    margin: 10px auto;
    /* border-bottom: 1px solid #ccc; */
    /* margin-bottom: 10px; */
    /* background-color: #; */
    color: #B23870;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
}